nav{
    .nav{
        width: 300px;
        display: flex;
        justify-content: space-between;
        li{
            .nav-link{
                display: flex;
                justify-content: center;
            }
        }
    }
}